// Variables
// ----------------------------------------------------------->
$white                 : #FFF;
$whitesmoke            : #F5F5F5;
$gray                  : #CCC;
$ive-got-a-crush-on-you: #FEE4B8;
$blue-mimozaa          : #28FFCD;
$seabreeze             : #55989B;
$limealicious          : #A9FD39;
$power-c               : #790D85;
